.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.container_fluid{
  height: 10vw;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar-header{
  width: 100vw;
  display: flex;
  padding-top: 3vw;
}
.navbar-header a{

  margin-left: 10vw;
}

.home_box{
  position: inherit;
  padding-left: 25vw;
  padding-top: 20vw;
  width: 100vw;
  height: 100%;
  background-image: url("../images/philip-swinburn-60229.jpg");
  background-size: contain;
}
.home_text{
  padding-left: 3vw;
  padding-top: 5vw;
  width: 45vw;
  height: 45vw;
  background-color: rgba(169,169,169,.5);


}
